<mat-toolbar class="mat-elevation-z3">
    <button mat-icon-button (click)="collapsed.set(!collapsed())">
        <mat-icon>menu</mat-icon> 
    </button>
    <img [width]="180" [height]="40" src="B.jpg" />
    <span class="example-spacer"></span>
    
    <!-- Notifications Button with Dropdown -->
    <button mat-icon-button class="example-icon" [matMenuTriggerFor]="notificationsMenu" aria-label="Notifications">
        <mat-icon matBadgeColor="accent" matBadge="3">notifications</mat-icon>
    </button>

    <mat-menu #notificationsMenu="matMenu">
        <mat-list>
            <mat-list-item>
              <div class="user-list-item mb-2" >
                <span class="h6">
                  <img src="arjay.jpg" alt="User" class="rounded-circle me-1" width="30" height="30" style="float: left;">
                  Registration until this day <br>
                  <figcaption style="font-size: 9px;">Date: August 9, 2024</figcaption>
                </span>
              </div>
            </mat-list-item>
    
            <mat-list-item>
              <div class="user-list-item mb-2" >
                <span class="h6">
                  <img src="jhonnel.jpg" alt="User" class="rounded-circle me-1" width="30" height="30" style="float: left;">
                 Join in A club <br>
                  <figcaption style="font-size: 9px;">Date: August 9, 2024</figcaption>
                </span>
              </div>
            </mat-list-item>
    
            <mat-list-item>
              <div class="user-list-item mb-2" >
                <span class="h6">
                  <img src="dionece.jpg" alt="User" class="rounded-circle me-1" width="30" height="30" style="float: left;">
                  Exam day <br>
                  <figcaption style="font-size: 9px;">Date: August 9, 2024</figcaption>
                </span>
              </div>
            </mat-list-item>
        </mat-list>
    </mat-menu>

    <!-- Profile Button with Dropdown -->
    <button mat-icon-button class="example-icon circle-btn ms-2" [matMenuTriggerFor]="profileMenu">
        <img [src]="adminPic" class="prof-image" />
    </button>
    
    <!-- Profile Dropdown Menu -->
    <mat-menu #profileMenu="matMenu">
        <button mat-menu-item [routerLink]="['/main/account/accountpage/viewaccount']">
            <mat-icon>settings</mat-icon>
            <span>Account Settings</span>
        </button>
        <button mat-menu-item [routerLink]="['login']">
            <mat-icon>exit_to_app</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav opened mode="side" [style.width]="sidenavWidth()">
        <app-sidenav [collapsed]="collapsed()"></app-sidenav>
    </mat-sidenav>

    <mat-sidenav-content class="content" [style.margin-left]="sidenavWidth()">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
