mat-toolbar{
    position: relative;
    z-index: 5;
    background-color: #3ABEF9;
}

mat-icon{
    color: white;
}

.content {
    padding: 24px;
    background-color: #F5F7F8;
}

mat-sidenav-container{
    height: calc(100vh - 64px);
}

mat-sidenav, mat-sidenav-content {
    transition: all 500ms ease-in-out;
}

.example-spacer {
    flex: 1 1 auto;
  }

.circle-btn {
    width: 40px; /* Adjust size according to your needs */
    height: 40px; /* Ensure this matches the width */
    padding: 0; /* Remove any padding */
}

.prof-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

mat-sidenav {
    width: 250px;
    transition: width 0.3s ease;
  }
  
  mat-sidenav.collapsed {
    width: 65px;
  }
  


