<section class="announcement-form">
    <h2>Post a New Announcement</h2>
    <form [formGroup]="announcementform" (ngSubmit)="postannouncement()" id="announcementForm">
        
        <div class="container" style="display: none;">
            <div class="form-group">
                <label for="adminid">adminid:</label>
                <input type="number" id="adminid" formControlName="admin_id" name="adminid" required>
            </div>
            <div class="form-group">
                <label for="classid">classid:</label>
                <input type="number" id="classid" formControlName="class_id" name="classid" value={{classInfo[0].class_id}} required>
            </div>
        </div> 

        <div class="form-group">
            <label for="title">Title:</label>
            <input type="text" id="title" formControlName="title" name="title" required>
        </div>
        <div class="form-group">
            <label for="announcement">Message:</label>
            <textarea id="announcement" name="announcement" formControlName="announcement" rows="3" required></textarea>
        </div>
        <button type="submit">Post</button>
    </form>
</section>

