<div class="container h-100">
    <div class=" row h-100 messenger-container">
         <!-- Sidebar -->
         <div class="col-12 col-md-3 col-lg-2 p-0 sidebar container">
             <div class="container mb-2 d-flex justify-content-between align-items-center">
                 <p class="h4 mt-3 pe-3 ms-1">Chats</p>
                 <i  mat-button type="button"(click)="openDialog()" class="bi bi-pencil-square" style="font-size: 20px;"></i>
                 
             </div>
             <div class="container mb-3 mt-3">
                <div class="input-group">
                 @if(inputClicked){
                     <button mat-icon-button aria-label="Example icon button with a vertical three dot icon" (click)="onBackClick()">
                         <mat-icon>arrow_back</mat-icon>
                     </button>
                 }   
                     <input type="text" [(ngModel)]="keyword" (click)="onInputClick()" class="form-control" placeholder="Search" aria-label="Search chats" style="border-radius: 20px;">
                </div>
              </div>
             <input type="hidden"  [(ngModel)]="uid">
             <div class="scrollable-container">
             <!-- List of Users -->
              @if(keyword || inputClicked){
                @for(sp of stupar | searchFilter: keyword; track sp){
                    <div class="user-list-item" [routerLink]="['/main/messages/messagepage/messages/view/' + sp.account_id]" routerLinkActive="active-link">
                        <img src="mik.jpg" alt="User" class="rounded-circle me-1" width="40" height="40">
                        <span>{{sp.account_name}}<br></span>
                    </div>
                }
            } @else if(messages && inputClicked == false) {
                @for(msg of messages; track msg.message_id){
                    <div class="user-list-item" [routerLink]="['/main/messages/messagepage/messages/view/' + msg.message_sender]" routerLinkActive="active-link">
                        <img src="mik.jpg" alt="User " class="rounded-circle me-1" width="40" height="40">
                        <div class="content">
                            <span>{{msg.sender_name}}</span>
                            <h6>{{ msg.message.length > 30 ? (msg.message | slice:0:30) + '...' : msg.message }}</h6>
                            <!-- <h6>{{msg.message}}</h6> -->
                        </div>
                    </div>
                }
            }
            </div>
         </div>
  
         <!-- Main Content -->
         <div class="col-12 col-md-9 col-lg-10 p-0 main-content">
             <!-- Chat Header -->
             <router-outlet></router-outlet>
         </div>
     </div>
  </div>