
    <div class="container mt-5">
        <!-- First Row -->
        <div class="row card-row">
          <!-- @for (cl of classInfo; track cl){ -->

          
            <div class="col-md-3">
                <div class="card">
                    <div class="card-body">
                      <div class="text-section">
                        <!-- when name of subject is clicked it will be directed to the roster of that subject -->
                        <p class="fw-bold text-primary link-offset-2 link-offset-1-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover h4" routerLink="['/main/classes/classespage/viewsubject']">
                            {{classInfo[0].subject_name}} {{classInfo[0].grade_level}} {{classInfo[0].strand}}
                        </p>
                        <p class="h6 ms-1 m-1">Section: <small class="text-body-secondary">{{classInfo[0].section_name}}</small> </p> 
                        <p class="h6 ms-1 m-1">Room: <small class="text-body-secondary">{{classInfo[0].room}}</small> </p> 
                        <p class="h6 ms-1 m-1">Schedule: <small class="text-body-secondary">{{classInfo[0].schedule}}</small> </p> 
                    </div>

                    </div>
                </div>
            </div>
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                      <div class="nav-section">
                        <nav>
                          <ul class="navbar nav"> 
                              <li><a class="navlink" 
                                [routerLink]="['viewroster']"
                                routerLinkActive="active-link"> 
                                <i class="fa-solid fa-list-ol me-2"></i>Roster List</a>
                              </li>
                             
                              <li><a class="navlink" 
                                [routerLink]="['viewattendanceReport']"
                                routerLinkActive="active-link">
                                <i class="fa-solid fa-list-check me-2"></i>Attendance</a>
                              </li>
                              <li><a class="navlink" 
                                [routerLink]="['viewstudentProg']"
                                routerLinkActive="active-link">
                                <i class="fa-solid fa-medal me-2"></i>Grades</a>
                              </li>
                              <li><a class="navlink" 
                                [routerLink]="['viewannouncement']"
                                routerLinkActive="active-link">
                                <i class="fa-solid fa-bullhorn me-2"></i>Announcements</a>
                              </li>
                              <!-- <li><a class="navlink" 
                                [routerLink]="['viewannouncement']"
                                routerLinkActive="active-link">
                                <i class="fa-solid fa-bullhorn me-2"></i>Add Announcements</a>
                              </li> -->
                          </ul>
                        </nav>
                      </div>

                    </div>
                </div>
            </div>
          <!-- } -->
        </div>
        <!-- Second Row -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                      <router-outlet></router-outlet>
                      <!-- <app-view-rosterlist></app-view-rosterlist> -->
                      <!-- <app-view-attendance-report></app-view-attendance-report>
                      <app-view-student-progress></app-view-student-progress> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

