<div class="content-body">
    <div class="container-fluid">
      <div class="row">
        <!-- Profile Card -->
        <div class="card flex-lg-column flex-md-row">
          <!-- Profile Information -->
          <div class="card-body text-center border-bottom profile-bx">
            <div class="profile-container">
              <div class="profile-image">
                <!-- <img [src]="adminPic" alt="Profile Image" class="rounded-circle"> -->
                <img [src]="adminPic ? adminPic: 'mik.jpg'" alt="Profile Image" class="rounded-circle">
                <div class="upload-container">
                  <label for="fileUpload" class="upload-icon">
                    <i class="fa-solid fa-camera"></i>
                  </label> 
                  <input type="file" id="fileUpload" class="d-none" (change)="onFileChange($event)">
                </div>
              </div>
            </div>
            <h4 class="fs-22 text-black mb-1">{{ user.fname }} {{ user.mname }} {{ user.lname }}</h4>
            <p class="mb-4">{{ user.role }}</p>
  
          </div>
  
          <!-- Contact Information -->
          <div class="card-body text-center">
            <div class="contact-list">
              <div class="contact-item">
                <a href="mailto:{{ user.email }}" class="contact-icon"><i class="fa-solid fa-envelope"></i></a>
                <span class="text-black">{{ user.email }}</span>
              </div>
              <div class="contact-item">
                <a href="#" class="contact-icon"><i class="fa-solid fa-location-dot"></i></a>
                <span class="text-black">{{ user.address }}</span>
              </div>
            </div>
          </div>
        </div>
  
        <!-- Profile Edit Card -->
        <div class="card flex-lg-column flex-md-row">
          <div class="header-container mt-3">
            <h2 class="fs-50 text-black font-w600 ms-3">Edit Profile</h2>
            <div class="button-group">
              <button (click)="saveChanges()" class="btn btn-primary rounded">Save Changes</button>
            </div>
          </div>
  
          <div class="card-body">
            <form [formGroup]="profileForm" novalidate>
              <!-- Generals Section -->
              <div class="mb-sm-5 mb-2">
                <div class="title mb-4">
                  <div class="title-wrapper">
                    <span class="fs-18 text-black font-w600">GENERALS</span>
                    <div class="title-line"></div>
                  </div>
                </div>
  
                <div class="row">
  
                  <div class="col-xl-4 col-sm-6">
                    <div class="form-group">
                      <label for="firstName">Firstname</label>
                      <input formControlName="fname" id="firstName" placeholder="Enter name" class="form-control">
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6">
                    <div class="form-group">
                      <label for="middleName">Middlename</label>
                      <input formControlName="mname" id="middleName" placeholder="Enter Middlename" class="form-control">
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6">
                    <div class="form-group">
                      <label for="lastName">Lastname</label>
                      <input formControlName="lname" id="lastName" placeholder="Enter lastname" class="form-control">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-sm-6">
                    <div class="form-group">
                      <label for="oldPassword">Old Password</label>
                      <input formControlName="oldPassword" id="oldPassword" type="password"
                        placeholder="Enter old password" class="form-control">
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6">
                    <div class="form-group">
                      <label for="password">New Password</label>
                      <input formControlName="newPassword" id="password" type="password" placeholder="Enter new password"
                        class="form-control">
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6">
                    <div class="form-group">
                      <label for="retypePassword">Re-Type Password</label>
                      <input formControlName="newPassword_confirmation" id="retypePassword" type="password"
                        placeholder="Re-enter new password" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
  
              <!-- Contact Section -->
              <div class="mb-sm-5 mb-2">
                <div class="title mb-4">
                  <div class="title-wrapper">
                    <span class="fs-18 text-black font-w600">CONTACT</span>
                    <div class="title-line"></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-4 col-sm-6">
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input formControlName="email" id="email" placeholder="Enter email" class="form-control">
                    </div>
                  </div>
                  <div class="col-xl-4 col-sm-6">
                    <div class="form-group">
                      <label for="address">Address</label>
                      <input formControlName="address" id="address" placeholder="Enter address" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>