<div class="container align-self-center p-3 bg-white rounded">
    <h2 class="text-center mb-5" style="font-weight: 500;">Student Progress</h2>

    <!-- Edit Request Button -->
    <div class="text-end mb-3">
        <button class="btn btn-primary" (click)="toggleEditRequest()">Request for Grade Edit</button>
    </div>

    <div class="table-responsive col-md-12">
        <table *ngIf="classInfo[0].grade_level >= 7 && classInfo[0].grade_level <= 10" class="table table-bordered attendance-table">
            <thead class="table-light">
                <tr>
                    <th rowspan="2" class="align-middle text-center" style="width: 5%;">No.</th>
                    <th rowspan="2" class="text-center align-middle" style="width: 30%;">Student Name</th>
                    <th colspan="4" class="text-center" style="width: 60%;">Grading Period</th>
                    <th rowspan="2" class="text-center  align-middle" style="width: 10%;">Average</th>
                </tr>
                <tr class="text-center">
                    <th style="width: 15%;">First Quarter</th>
                    <th style="width: 15%;">Second Quarter</th>
                    <th style="width: 15%;">Third Quarter</th>
                    <th style="width: 15%;">Fourth Quarter</th>
                   

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cl of gradeInfo; let i = index">
                    <td class="text-center">{{ i + 1 }}</td>
                    <td class="text-start">{{ cl.student_lname }}, {{ cl.student_fname }}</td>
                    <td class="text-center">
                        <input
                            type="number"
                            min="60" max="99"
                            class="form-control"
                            [(ngModel)]="cl.grade_Q1"
                            (ngModelChange)="updateGrade(cl.LRN, 'First Quarter', cl.grade_Q1)"
                            [disabled]="cl.permission_Q1 === 'none' || cl.permission_Q1 === 'pending'" 
                        />
                            <button onclick="this.innerHTML = 'Pending'" 
                                *ngIf="editRequestActive && cl.grade_Q1 && (cl.permission_Q1 === 'none' || cl.permission_Q1 === 'pending')" 
                                (click)="editGradePermission(cl.LRN, 'First Quarter', cl.grade_Q1)" 
                                [disabled]="cl.permission_Q1 === 'pending'">
                                {{ cl.permission_Q1 === 'pending' ? 'Pending' : 'Request' }}
                            </button>
                        <!-- <span *ngIf="savingStatus[cl.LRN + '-First Quarter']" class="text-success ms-2">Saving...</span> -->
                        <span *ngIf="savingStatus[cl.LRN + '-First Quarter'] && cl.grade_Q1 >= 60 && cl.grade_Q1 <= 99" class="text-success ms-2">Saving...</span>
                        
                    </td>
                    
                    <td class="text-center"> 
                        <input
                            type="number"
                            min="60" max="99"
                            class="form-control"
                            [(ngModel)]="cl.grade_Q2"
                            (ngModelChange)="updateGrade(cl.LRN, 'Second Quarter', cl.grade_Q2)"
                            [disabled]="cl.permission_Q2 === 'none' || cl.permission_Q2 === 'pending'" 
                        />
                            <button onclick="this.innerHTML = 'Pending'" 
                                *ngIf="editRequestActive && cl.grade_Q2 && (cl.permission_Q2 === 'none' || cl.permission_Q2 === 'pending')" 
                                (click)="editGradePermission(cl.LRN, 'Second Quarter', cl.grade_Q2)" 
                                [disabled]="cl.permission_Q2 === 'pending'">
                                {{ cl.permission_Q2 === 'pending' ? 'Pending' : 'Request' }}
                            </button>
                        <span *ngIf="savingStatus[cl.LRN + '-Second Quarter']" class="text-success ms-2">Saving...</span>
                    </td>

                    <td class="text-center">
                        <input
                            type="number"
                            min="60" max="99"
                            class="form-control"
                            [(ngModel)]="cl.grade_Q3"
                            (ngModelChange)="updateGrade(cl.LRN, 'Third Quarter', cl.grade_Q3)"
                            [disabled]="cl.permission_Q3 === 'none' || cl.permission_Q3 === 'pending'" 
                        />
                            <button onclick="this.innerHTML = 'Pending'"
                                *ngIf="editRequestActive && cl.grade_Q3 && (cl.permission_Q3 === 'none' || cl.permission_Q3 === 'pending')"  
                                (click)="editGradePermission(cl.LRN, 'Third Quarter', cl.grade_Q3)" 
                                [disabled]="cl.permission_Q3 === 'pending'">
                                {{ cl.permission_Q3 === 'pending' ? 'Pending' : 'Request' }}
                            </button>
                        <span *ngIf="savingStatus[cl.LRN + '-Third Quarter']" class="text-success ms-2">Saving...</span>
                    </td>

                    <td class="text-center">
                        <input
                            type="number"
                            min="60" max="99"
                            class="form-control"
                            [(ngModel)]="cl.grade_Q4"
                            (ngModelChange)="updateGrade(cl.LRN, 'Fourth Quarter', cl.grade_Q4)"
                            [disabled]="cl.permission_Q4 === 'none' || cl.permission_Q4 === 'pending'" 
                        />
                            <button onclick="this.innerHTML = 'Pending'"
                                *ngIf="editRequestActive && cl.grade_Q4 && (cl.permission_Q4 === 'none' || cl.permission_Q4 === 'pending')"  
                                (click)="editGradePermission(cl.LRN, 'Fourth Quarter', cl.grade_Q4)" 
                                [disabled]="cl.permission_Q4 === 'pending'">
                                {{ cl.permission_Q4 === 'pending' ? 'Pending' : 'Request' }}
                            </button>
                        <span *ngIf="savingStatus[cl.LRN + '-Fourth Quarter']" class="text-success ms-2">Saving...</span>
                    </td>

                    <td class="text-center align-middle">
                        <span *ngIf="calculateAverage(cl.grade_Q1, cl.grade_Q2, cl.grade_Q3, cl.grade_Q4) > 0">
                            {{ calculateAverage(cl.grade_Q1, cl.grade_Q2, cl.grade_Q3, cl.grade_Q4)}}
                        </span>
                    </td>
                    
                </tr>
            </tbody>
        </table>

        <table *ngIf="classInfo[0].grade_level == 11 || classInfo[0].grade_level == 12" class="table table-bordered attendance-table">
            <thead class="table-light">
                <tr>
                    <th rowspan="2" class="text-center align-middle" style="width: 30%;">Student Name</th>
                    <th colspan="2" class="text-center" style="width: 60%;">Grading Period</th>
                    <th rowspan="2" class="text-center  align-middle" style="width: 10%;">Average</th>
                </tr>
                <tr class="text-center">
                    <th style="width: 30%;">Midterms</th>
                    <th style="width: 30%;">Final</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cl of gradeInfo">
                    <td class="text-start">{{ cl.student_lname }}, {{ cl.student_fname }}</td>
                    <td class="text-center">
                        <input
                            type="number"
                            min="60" max="99"
                            class="form-control"
                            [(ngModel)]="cl.grade_midterm"
                            (ngModelChange)="updateGrade(cl.LRN, 'Midterm', cl.grade_midterm)"
                            [disabled]="cl.permission_midterm === 'none' || cl.permission_midterm === 'pending'" 
                        />
                            <button onclick="this.innerHTML = 'Pending'"
                                *ngIf="editRequestActive && cl.grade_midterm && (cl.permission_midterm === 'none' || cl.permission_midterm === 'pending')" 
                                (click)="editGradePermission(cl.LRN, 'Midterm', cl.grade_midterm)"
                                [disabled]="cl.permission_midterm === 'pending'">
                                {{ cl.permission_midterm === 'pending' ? 'Pending' : 'Request' }}
                            </button>
                        <span *ngIf="savingStatus[cl.LRN + '-Midterm']" class="text-success ms-2">Saving...</span>
                        
                    </td>
                    <td class="text-center">
                        <input
                            type="number"
                            min="60" max="99"
                            class="form-control"
                            [(ngModel)]="cl.grade_final"
                            (ngModelChange)="updateGrade(cl.LRN, 'Final', cl.grade_final)"
                            [disabled]="cl.permission_final === 'none' || cl.permission_final === 'pending'" 
                        />
                            <button onclick="this.innerHTML = 'Pending'"
                                *ngIf="editRequestActive && cl.grade_final && (cl.permission_final === 'none' || cl.permission_final === 'pending')" 
                                (click)="editGradePermission(cl.LRN, 'Final', cl.grade_final)"
                                [disabled]="cl.permission_final === 'pending'">
                                {{ cl.permission_final === 'pending' ? 'Pending' : 'Request' }}
                        </button>
                        <span *ngIf="savingStatus[cl.LRN + '-Final']" class="text-success ms-2">Saving...</span>
                    </td>

                    <td class="text-center align-middle">
                        <span *ngIf="calculateAveragee(cl.grade_midterm, cl.grade_final) > 0">
                            {{ calculateAveragee(cl.grade_midterm, cl.grade_final)}}
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
