<div class="container">
    <div class="table-container">
        <section class="announcement-list">
            <h2>
                Announcements
                <!-- <button type="button" class="btn btn-success" routerLink="/main-page/announcement/addannouncement">
                    +
                </button> -->
            </h2>
            <hr />

            <div id="announcementsContainer">
                <!-- Loop through announcements array -->
                @for (ann of announcements; track ann) {
                <div class="announcement">
                    <div class="announcement-header"> 
                        <h3>
                            {{ ann.title }}
                            <!-- Exciting School Events Coming Up! -->
                        </h3>
                        <!-- Dynamically render announcement title -->
                        <span class="date">
                            <!-- September 12,2024 -->
                            {{ ann.created_at | date: 'medium' }}
                        </span>
                        <!-- <div class="announcement-actions ms-3">
                            <a class="edit"><i class="fa-solid fa-pencil" (click)="onUpdate(ann.ancmnt_id)"></i></a>
                            <a class="delete"><i class="fa-solid fa-trash" (click)="onDelete(ann.ancmnt_id)"></i></a>
                        </div> -->
                    </div>
                    <p class="announcement-p">{{ ann.announcement }}</p>
                </div>

                }
            </div>
        </section>
    </div>
</div>