<div class="container">
  <div class="banner">
    <div class="text-content">
      <div class="date">{{currentDay}}, {{ currentDate}}</div>
      <h1 class="welcome-message">{{ getGreeting() }} {{ fname }}!</h1>
    </div>
    <div class="illustration">
      <img src="aaa.png" alt="Illustration">
    </div>
  </div>
   
  <div class="row mt-4">
        <div class="dash-col">
          <h3 class="mb-3">My Classes Today</h3>
          <div class="row">
            @for (cl of classes; track cl){ 
              <div class="col-lg-6">
                <div class="card1 mb-3 bg-c-white order-card" [routerLink]="['/main/classes/classespage/viewsubject/', cl.class_id]">
                  <div class="card-body">
                    <img src="{{cl.image}}" class="card-img-top" alt="...">
                    <div class="text-section">
                      <h6 class="text-primary" style="font-weight: 500;">
                        {{cl.subject_name}} 
                        {{cl.grade_level}} 
                        {{cl.strand === '-' ? ' ' : cl.strand}}</h6> 
                      <p class="h6 ms-1 m-1 text-dark">Section: <small class="text-body-secondary" style="font-weight: 400;">{{cl.section_name}}</small> </p> 
                      <p class="h6 ms-1 m-1 text-dark">Room: <small class="text-body-secondary" style="font-weight: 400;">{{cl.room}}</small> </p> 
                      <p class="h6 ms-1 m-1 text-dark">Time: 
                          <small class="text-body-secondary" style="font-weight: 400;">{{cl.time}}</small> 
                      </p> 
                      <p class="h6 ms-1 m-1 text-dark">Schedule: 
                        <small class="text-body-secondary" style="font-weight: 400;">{{cl.schedule}}</small> 
                    </p> 
                  </div>
                  </div>
                </div>
              </div>  
            }
          </div>
        </div>
        <!-- messege -->              
        
        <div class="  inq-col">
          <h3>Recent Inquiries</h3>
          <div class="card">
            <div class="card-body-notif">
              <div class="notification-list">
                <!-- Notification 1 -->
                 @for (inq of inquiries; track $index) {
                <div class="notification-item" [routerLink]="['/main/messages/messagepage/messages/view/' + inq.message_sender]">
                  <div class="notification-header">
                    <div class="sender-name">{{ inq.sender_name }}</div>
                    <div class="notification-date">{{ inq.message_date | date: 'MMMM dd, yyyy' }}</div>
                  </div>
                  <div class="notification-message"> {{ inq.message }}</div>
                </div>
              }
              </div>
            </div>
          </div>
        </div>
        
  </div>
</div>

 

