<div class="container mt-3 mb-4 ms-1">
    <p class="h2" style="font-weight: 600;">My Classes </p>
</div>

<!-- List of Subjects Assigned to a Teacher -->
<div class="container">
    <div class="row g-4">
        @for (cl of classes; track cl)
        {
            <div class="col-12 col-md-6 col-lg-4">
                <div class="card h-100 d-flex flex-column flex-sm-row" [routerLink]="['/main/classes/classespage/viewsubject/', cl.class_id]">
                    <!-- Image -->
                    <div class="image-container flex-shrink-0">
                        <img src="{{cl.image}}" class="card-img-left d-none d-sm-block" alt="...">
                    </div>
                    <!-- Content -->
                    <div class="card-body">
                        <div class="text-section">
                            <h5 class="text-primary" style="font-weight: 500;">
                                {{cl.subject_name}} 
                                {{cl.grade_level}} 
                                {{cl.strand === '-' ? ' ' : cl.strand}}
                                 
                            </h5>
                                
                            <p class="h6 ms-1 m-1 d-none d-sm-block">Section: <small class="text-body-secondary" style="font-weight: 400;">{{cl.section_name}}</small> </p>
                            <p class="h6 ms-1 m-1 d-none d-sm-block">Room: <small class="text-body-secondary" style="font-weight: 400;">{{cl.room}}</small> </p>
                            <p class="h6 ms-1 m-1 d-none d-sm-block">Time: 
                                <small class="text-body-secondary" style="font-weight: 400;">{{cl.time}}</small> 
                            </p>
                            <p class="h6 ms-1 m-1 d-none d-sm-block">Schedule: 
                                <small class="text-body-secondary" style="font-weight: 400;">{{cl.schedule}}</small> 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
