<div class="sidenav-header">
    <img [width]="profilePicSize()" [height]="profilePicSize()" [src]="adminPic ? adminPic: 'mik.jpg'"  class="prof-image" alt="Admin Profile Picture"> 
    <img />
    <div class="header-text" [class.hide-header-text]="sideNavCollapsed()">
        <p style="font-weight: 600; font-size: 15px;">{{ role }}</p>
        <p>{{ fname }} {{ lname }}</p>
    </div>
</div>
<mat-nav-list>
    <a mat-list-item
    class="menu-item"
        *ngFor="let item of menuItems()" 
        [routerLink]="item.route"
        routerLinkActive="" #rla="routerLinkActive" [activated]="rla.isActive"
    >

        <!-- <mat-icon matListItemIcon>{{item.icon}}</mat-icon> -->
        <mat-icon matListItemIcon [matBadge]="item.unreadCount > 0 ? item.unreadCount : null" matBadgeColor="warn">
            {{ item.icon }}
          </mat-icon>
        <span style="font-family: Poppins; font-weight: 600;" matListItemTitle *ngIf="!sideNavCollapsed()">{{item.label}}</span>
        
    </a>
    
</mat-nav-list> 


